BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP    "clk" SITE "P3";
IOBUF PORT     "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;

LOCATE COMP    "reset" SITE "K18";
IOBUF PORT     "reset" IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP    "sensor" SITE "L18";
IOBUF PORT     "sensor" IO_TYPE=LVCMOS33;

LOCATE COMP    "DOUT" SITE "C18";
IOBUF PORT     "DOUT" IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP    "DONE_M" SITE "G18";
IOBUF PORT     "DONE_M" IO_TYPE=LVCMOS33 DRIVE=4;
