#  Constraints - CONTROLADOR_I2C
#  Board: Colorlight i9 v7.2 (LFE5U-45F-6BG381)

BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# Clock (25 MHz onboard oscillator)

LOCATE COMP "clk" SITE "P3";
IOBUF PORT  "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;


# Reset (P2)

LOCATE COMP "rst" SITE "K18";
IOBUF PORT  "rst" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;


# I2C - ADS1115 (P3)

LOCATE COMP "SDA" SITE "D2";
IOBUF PORT  "SDA" IO_TYPE=LVCMOS33;

LOCATE COMP "SCL" SITE "E2";
IOBUF PORT  "SCL" IO_TYPE=LVCMOS33;
