#  Constraints - TOP_PROYECTO
#  Board: Colorlight i9 v7.2 (LFE5U-45F-6BG381)

BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# Clock (25 MHz)

LOCATE COMP    "clk" SITE "P3";
IOBUF PORT     "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;

# Reset

LOCATE COMP "reset" SITE "K18";
IOBUF PORT  "reset" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

# I2C - ADS1115

LOCATE COMP "SDA" SITE "D2";
IOBUF PORT  "SDA" IO_TYPE=LVCMOS33;

LOCATE COMP "SCL" SITE "E2";
IOBUF PORT  "SCL" IO_TYPE=LVCMOS33;

# Matriz WS2812

LOCATE COMP "DOUT" SITE "T1";
IOBUF PORT  "DOUT" IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "DONE_M" SITE "G18";
IOBUF PORT  "DONE_M" IO_TYPE=LVCMOS33 DRIVE=4;